.vscode
crewai
.cache
__pycache__
chroma.sqlite3
test/
dist/
.env
assets/*
.idea
.DS_Store
.pytest_cache
praisonAI.egg-info
flagged
test.yaml
db

# ignore virtualenvs
.venv
venv*

# ignore tmp dirs
scratch
junk
tmp

.ipynb_checkpoints
